@media (max-width: 1455px) {

}
@media (max-width: 1100px) {
   .header h2{   
      font-size: 66px;
   }
   .content{
      margin-top: 10px;
      margin-bottom: 10px;
   }
   .square {
      display: none;
   }
   .text-time{
      left: -150px;
   }
}
@media (max-width: 760px) {
   .text,
   .image{
      width: 100%;
   }
   .content{
      display: flex;
      flex-direction: column;
      max-width: 100%;
   }
   .text-time{
      display: none;
   }
}