*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
img {
    max-width: 100%;
    max-height: 100%;
}
.container{
    margin-right: auto;
    margin-left: auto;
    max-width: 1470px;
}
.header{
    background-image: url("img/header.png");
    height: 800px; 
    display: flex;
    align-items: center;
    flex-direction: column;
    color: aliceblue;
    position: relative;
}  
.vector {
    padding-top: 25px;
}
.header p{
    letter-spacing: 0.5em;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 12px;
    margin-top: 123px;
    margin-bottom: 14px;
    text-transform: uppercase;   
}
.header h2{
    font-family: 'Noto Sans Tagbanwa';
    font-size: 96px;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.yellow{
    width: 60px;
    height: 5.11px;
    background-color: #E8C300;
    border-radius: 50px;
}
.cicle{  
    text-align: center;
    width: 40px;   
    height: 40px;
    background-color: white;
    margin-top: 182.68px;
    border-radius: 50%;

}
.arrow{
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;

}
.text-time {
    position: absolute;
    left: -80px;
    top: 420px;
    display: flex;
    transform: rotate(-90deg);
    
}
.text-time .eu {
    margin-left: 50px;
}
.content {
    display: flex;
    background-color: white;
    justify-content: space-evenly;  
    align-items: center;
    position: relative;
    margin-top: 100px;
    margin-bottom: 83px;
    padding-left: 15px;
    padding-right: 15px;
}
.text {
    flex-direction: column;
    text-align: center;
    width: 50%;
}
.heading{
    margin-bottom: 5px;
    text-transform: uppercase;
    font-family: 'Banny';
    font-size: 36px;
    line-height: 48px;
}
.line {
    width: 59.19px;
    height: 5px;    
    background-color: #E8C300;
    border-radius: 50px;
}
.subheading {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
}
.image{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.image img {
    height: auto;
    width: 575px; 
}
.square {
    position: absolute;
    right: -55px;
    top: 60px;
}
.footer {
    background-color: #000000E5;
    height: 100px;
    max-width: 1440px;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-text {
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
}
